h2 {
    color: orange;
    font-family: 'Trebuchet MS';
    text-align: center;
}


/* Begin Praktikum 3 */

.kotak {
    padding: 50px;
    width: 100px;
    color: #fff;
    margin: 10px;
    background: orange;
}

#kotak {
    width: 400px;
    color: #fff;
    background: blue;
    padding: 50px;
}


/* End Praktikum 3 */


/* Start Praktikum 4 */


/* body {
    background: lightcyan;
    color: white;
} */


/* End Praktikum 4 */


/* Start Praktikum 5 */

body {
    background: url(../img/pinguin.png), url(../img/snow.jpg);
    background-repeat: no-repeat, repeat;
    color: #fff;
}


/* End Praktikum 5 */